{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleAiNodePage %}
    <title>{% if resultCount == 0 %}no AI node found{% else %}AI nodes{% endif %}</title>
{%- endblock htmTitleAiNodePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/ai-node/AiNode.css"/>
{%- block htmStylesAiNodePage %}
{%- endblock htmStylesAiNodePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleAiNodePage %}
{%- endblock htmStyleAiNodePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsAiNodePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/ai-node/AiNode.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/ai-node/AiNodeSearchPage.js"></script>
{%- endblock htmScriptsAiNodePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptAiNodePage %}
    <script>

      function jsWebsocketAiNode(entityId, vars, $response) {
{%- block jsWebsocketAiNodePage %}{%- endblock %}
      }

      function jsTooltipAiNode(e, feature) {
{%- block jsTooltipAiNodePage %}{%- endblock %}
      }

      function htmTooltipAiNode(feature, layer) {
        return `{%- block htmTooltipAiNodePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.title}</a></h3>
{%- endblock htmTooltipAiNodePage %}`;
      }

      function jsLegendAiNode(map) {
{%- block jsLegendAiNodePage %}
        var div = L.DomUtil.create('div', 'info legend');
        var htm = '';
        window.listAiNode.forEach((result, index) => {
          if(result.location) {
            var shapes = [];
            if(Array.isArray(result.location))
              shapes = shapes.concat(result.location);
            else
              shapes.push(result.location);
            shapes.forEach(function(shape, index) {
              htm += htmLegendAiNode(map, shape, result, index, shapes.length);
            });
          }
        });
        div.innerHTML = htm;
        return div;
{%- endblock jsLegendAiNodePage %}
      }

      function htmLegendAiNode(map, shape, result, index, count) {
        var color = result.locationColors[index];
        var title = result.locationTitles[index];
        var url = result.locationLinks[index];
        var htm = '';
        htm += `<div class="cursor-pointer " style="max-width: 400px; ">
`;
        htm += `{%- block htmLegendAiNodePage %}
    <div title="${quoteattr(title)}">
    <div style="width: 20px; ">
      <i class="fa-light fa-circle" style="color: ${color}; "></i>
    </div>
    <div class="text-overflow-ellipsis ">
      <span class="" data-solrId="${result.solrId}" onclick="window.mapLayers[this.getAttribute('data-solrId')].openPopup(); return false;" href="">${title}</span>
    </div>
    </div>
{%- endblock htmLegendAiNodePage %}`;
        htm += `
</div>
`;
        return htm;
      }

      function jsStyleAiNode(feature) {
{%- block jsStyleAiNodePage %}
        if(feature.geometry.type == 'Point') {
          return {
            radius: 8
            , fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 1
            , opacity: 0.7
            , fillOpacity: 0.7
          };
        } else if(feature.geometry.type == 'LineString') {
          return {
            color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 5
            , opacity: 0.7
          };
        } else {
          return {
             fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 3
            , opacity: 0.7
            , fillOpacity: 0.7
          };
        }
{%- endblock jsStyleAiNodePage %}
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {

        var entityId = {% if result.entityId is defined %}{{ result.entityId | tojson }}{% else %}null{% endif %};

        if(entityId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if entityId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listAiNode')?.value;
        if(l)
          window.listAiNode = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphAiNode();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qAiNode_{{ key }}')?.addEventListener('sl-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('AiNode', event.target, document.querySelector('#qAiNodeDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qAiNode_rows')?.addEventListener('sl-change', event => {
          paramChange('AiNode', event.target, document.querySelector('#qAiNodeDiv_rows'));
        });

        document.querySelector('#qAiNode_start')?.addEventListener('sl-change', event => {
          paramChange('AiNode', event.target, document.querySelector('#qAiNodeDiv_start'));
        });


        var submitForm_patchAiNode = document.querySelector('#htmForm_patchAiNode')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchAiNode')?.addEventListener('click', event => {
          event.preventDefault();
          patchAiNode(null, document.querySelector('#htmForm_patchAiNode'), document.querySelector('#htmFormButton_patchAiNode'), event.target.getAttribute('data-entityId'));
          return false;
        });

        var submitForm_postAiNode = document.querySelector('#htmForm_postAiNode')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postAiNode')?.addEventListener('click', event => {
          event.preventDefault();
          postAiNode(document.querySelector('#htmForm_postAiNode'), document.querySelector('#htmFormButton_postAiNode'), (response, target) => { response.json().then((json) => { window.location.href = json.editPage; }); });
          return false;
        });

        var submitForm_deleteAiNode = document.querySelector('#htmForm_deleteAiNode')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteAiNode')?.addEventListener('click', event => {
          event.preventDefault();
          deleteAiNode(event.target, event.target.getAttribute('data-entityId'));
          return false;
        });

        var submitForm_putimportAiNode = document.querySelector('#htmForm_putimportAiNode')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportAiNode')?.addEventListener('click', event => {
          event.preventDefault();
          putimportAiNode(document.querySelector('#htmForm_putimportAiNode'), document.querySelector('#htmFormButton_putimportAiNode'));
          return false;
        });

        var submitForm_searchpageAiNode = document.querySelector('#htmForm_searchpageAiNode')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageAiNode')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageAiNode();
          return false;
        });
      });
    </script>
{%- endblock htmScriptAiNodePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketAiNodePage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketAiNode(websocketAiNodeInner);
{%- endblock websocketAiNodePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlAiNodePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlAiNodePage %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartAiNodePage %}
{%- endblock htmBodyStartAiNodePage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleAiNodePage %}
{%- include en-us/search/ai-node/AiNodeSidebar.htm %}
{%- include en-us/search/ai-node/AiNodeSuggestedSearch.htm %}
{% if resultCount == 0 %}
          <sl-tooltip for="return-to-AiNode">back to all AI nodes</sl-tooltip>
        <div>
            <sl-button id="return-to-AiNode" variant="primary" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all AI nodes
            </sl-button>
          </sl-tooltip>
        </div>
        <h1><i class="fa-regular fa-computer"></i> <span>AI nodes</span></h1>
{% include en-us/search/ai-node/AiNodeSearchButtons.htm %}
{% include en-us/search/ai-node/AiNodeSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no AI node found</span>
          </span>
        </h2>
{% else %}
        <div class="pageContent ">
          <div id="site-calendar-box">
            <div id="site-calendar"><!-- // --></div>
          </div>
          <div class="margin-block">
            <sl-tooltip for="return-to-AiNode">back to all AI nodes</sl-tooltip>
            <sl-button id="return-to-AiNode" variant="primary" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-solid fa-angle-left"></i>
              all AI nodes
            </sl-button>
          </div>
          <h1><a href="{{pageUri}}"><i class="fa-regular fa-computer"></i> <span>AI nodes</span></a></h1>
{% include en-us/search/ai-node/AiNodeSearchButtons.htm %}
{% include en-us/search/ai-node/AiNodeSearchForm.htm %}
{% include en-us/search/ai-node/AiNodePaginationButtons.htm %}
          <div class="card-like-thing background-color-surface-border" id="site-results-grid">
            <div>
              <sl-dropdown id="htmDropdown-nodeName">
                <sl-button variant="primary" slot="trigger" caret>node name</sl-button>
                <sl-menu>
                  <sl-menu-item data-action="sort" data-order="asc" id="htmDropdown-nodeName-asc">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    sort by node name ascending
                  </sl-menu-item>
                  <sl-menu-item data-action="sort" data-order="desc" id="htmDropdown-nodeName-desc">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                    sort by node name descending
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
              <sl-dropdown id="htmDropdown-clusterName">
                <sl-button variant="primary" slot="trigger" caret>cluster name</sl-button>
                <sl-menu>
                  <sl-menu-item data-action="sort" data-order="asc" id="htmDropdown-clusterName-asc">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    sort by cluster name ascending
                  </sl-menu-item>
                  <sl-menu-item data-action="sort" data-order="desc" id="htmDropdown-clusterName-desc">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                    sort by cluster name descending
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
              <sl-dropdown id="htmDropdown-description">
                <sl-button variant="primary" slot="trigger" caret>description</sl-button>
                <sl-menu>
                  <sl-menu-item data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    sort by description ascending
                  </sl-menu-item>
                  <sl-menu-item data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                    sort by description descending
                  </sl-menu-item>
                </sl-menu>
              </sl-dropdown>
              <div></div>
            </div>
            {% for item in listAiNode%}
            <div>
              <a href="{{ item.displayPage }}">
                <i class="fa-regular fa-computer"></i>
              {{ item.nodeName }}
              </a>
              <a href="{{ item.displayPage }}">
              {{ item.clusterName }}
              </a>
              <a href="{{ item.displayPage }}">
              {{ item.description }}
              </a>
              <sl-button variant="primary"
                  id="{{classApiMethodMethod}}_editPage"
                  placeholder="[String] edit"
                  label="edit"
                  title="Edit this"
                  class="button-on-left {{classApiMethodMethod}}_editPage classAiNode inputAiNode{{entityId}}EditPage "
                  name="setEditPage"
                  href="{{ item.editPage | e }}"
                  >
                <i class="fa-solid fa-pen-to-square"></i>
                edit
              </sl-button>
            </div>
            {% endfor %}
              {% if getColumnNodeName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnClusterName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnEditPage is defined %}
                <div>
                </div>
              {% endif %}
          </div>
{% endif %}
{%- endblock htmBodyMiddleAiNodePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
  {{ super() }}
{%- block htmBodyEndAiNodePage %}
{%- endblock htmBodyEndAiNodePage %}
{%- endblock htmBodyEndPageLayout %}
