{%- macro inputPkGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      help-text="
The primary key of this object in the database"
                      id="{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_pk setPk classGpuSlice inputGpuSlice{{sliceName}}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pk setPk classGpuSlice inputGpuSlice{{sliceName}}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pk valuePk classGpuSlice inputGpuSlice{{sliceName}}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.pk | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="text"
                      readonly
                      help-text="A created timestamp for this record in the database"
                      label="created"
                      class="label-on-left {{classApiMethodMethod}}_created datetimepicker setCreated classGpuSlice inputGpuSlice{{sliceName}}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_created"
                      value="{%- if result.created is defined %}{{ formatZonedDateTime(result.created, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-sliceName={{ result.sliceName | tojson }}
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="text"
                      readonly
                      help-text="A modified timestamp for this record in the database"
                      label="modified"
                      class="label-on-left {{classApiMethodMethod}}_modified datetimepicker setModified classGpuSlice inputGpuSlice{{sliceName}}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_modified"
                      value="{%- if result.modified is defined %}{{ formatZonedDateTime(result.modified, "MM/dd/yyyy h:mm a '['VV']'", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-sliceName={{ result.sliceName | tojson }}
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      help-text="For archiving this record"
                      class="label-on-left {{classApiMethodMethod}}_archived classGpuSlice inputGpuSlice{{sliceName}}Archived "
                      name="setArchived"
                      data-sliceName={{ result.sliceName | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-checkbox
                      id="{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <select
                      id="{{classApiMethodMethod}}_archived"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      help-text="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classGpuSlice inputGpuSlice{{sliceName}}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classGpuSlice inputGpuSlice{{sliceName}}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_archived setArchived valueArchived classGpuSlice inputGpuSlice{{sliceName}}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-sliceName={{ result.sliceName | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value="" selected="selected"></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputSliceNameGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_sliceName">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] name"
                      label="name"
                      help-text="
The name of this GPU slice"
                      id="{{classApiMethodMethod}}_sliceName"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_sliceName setSliceName classGpuSlice inputGpuSlice{{sliceName}}SliceName "
                      name="setSliceName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_sliceName setSliceName classGpuSlice inputGpuSlice{{sliceName}}SliceName "
                      name="setSliceName"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_sliceName valueSliceName classGpuSlice inputGpuSlice{{sliceName}}SliceName "
                      name="sliceName"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.sliceName | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmSliceNameGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputSliceNameGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] description"
                      label="description"
                      help-text="
A description of this GPU device"
                      id="{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classGpuSlice inputGpuSlice{{sliceName}}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classGpuSlice inputGpuSlice{{sliceName}}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_description valueDescription classGpuSlice inputGpuSlice{{sliceName}}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.description | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputIdGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_id">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] entity ID"
                      label="entity ID"
                      help-text="
A unique ID for this Smart Data Model"
                      id="{{classApiMethodMethod}}_id"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_id setId classGpuSlice inputGpuSlice{{sliceName}}Id "
                      name="setId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_id setId classGpuSlice inputGpuSlice{{sliceName}}Id "
                      name="setId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_id valueId classGpuSlice inputGpuSlice{{sliceName}}Id "
                      name="id"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.id | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmIdGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputIdGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNgsildTenantGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_ngsildTenant">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] NGSILD-Tenant"
                      label="NGSILD-Tenant"
                      help-text="
The NGSILD-Tenant or Fiware-Service"
                      id="{{classApiMethodMethod}}_ngsildTenant"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_ngsildTenant setNgsildTenant classGpuSlice inputGpuSlice{{sliceName}}NgsildTenant "
                      name="setNgsildTenant"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildTenant setNgsildTenant classGpuSlice inputGpuSlice{{sliceName}}NgsildTenant "
                      name="setNgsildTenant"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildTenant valueNgsildTenant classGpuSlice inputGpuSlice{{sliceName}}NgsildTenant "
                      name="ngsildTenant"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.ngsildTenant | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNgsildTenantGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNgsildTenantGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNgsildPathGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_ngsildPath">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] NGSILD-Path"
                      label="NGSILD-Path"
                      help-text="
The NGSILD-Path or Fiware-ServicePath"
                      id="{{classApiMethodMethod}}_ngsildPath"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_ngsildPath setNgsildPath classGpuSlice inputGpuSlice{{sliceName}}NgsildPath "
                      name="setNgsildPath"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildPath setNgsildPath classGpuSlice inputGpuSlice{{sliceName}}NgsildPath "
                      name="setNgsildPath"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildPath valueNgsildPath classGpuSlice inputGpuSlice{{sliceName}}NgsildPath "
                      name="ngsildPath"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.ngsildPath | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNgsildPathGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNgsildPathGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNgsildContextGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_ngsildContext">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] NGSILD context"
                      label="NGSILD context"
                      help-text="
The NGSILD context URL for @context data"
                      id="{{classApiMethodMethod}}_ngsildContext"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_ngsildContext setNgsildContext classGpuSlice inputGpuSlice{{sliceName}}NgsildContext "
                      name="setNgsildContext"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildContext setNgsildContext classGpuSlice inputGpuSlice{{sliceName}}NgsildContext "
                      name="setNgsildContext"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildContext valueNgsildContext classGpuSlice inputGpuSlice{{sliceName}}NgsildContext "
                      name="ngsildContext"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.ngsildContext | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNgsildContextGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNgsildContextGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNgsildDataGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_ngsildData">
  {%- endif %}
                  <wa-textarea resize="auto"
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[JsonObject] NGSILD data"
                      label="NGSILD data"
                      help-text="
The NGSILD data with @context from the context broker"
                      id="{{classApiMethodMethod}}_ngsildData"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_ngsildData setNgsildData classGpuSlice inputGpuSlice{{sliceName}}NgsildData "
                      name="setNgsildData"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildData setNgsildData classGpuSlice inputGpuSlice{{sliceName}}NgsildData "
                      name="setNgsildData"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_ngsildData valueNgsildData classGpuSlice inputGpuSlice{{sliceName}}NgsildData "
                      name="ngsildData"
    {%- endif %}
  {%- endif %}
{%- if "Page" == classApiMethodMethod %}
                      value="{{ toJsonObjectString(result.ngsildData) | e }}"
{%- endif %}
                      >
</wa-textarea>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNgsildDataGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNgsildDataGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputLocationGpuSlicePage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_location">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[Point] location"
                      label="location"
                      help-text="
Geojson reference to the item. It can be Point, LineString, Polygon, MultiPoint, MultiLineString or MultiPolygon"
                      id="{{classApiMethodMethod}}_location"
  {%- if "Page" == classApiMethodMethod %}
                      data-sliceName={{ result.sliceName | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_location setLocation classGpuSlice inputGpuSlice{{sliceName}}Location "
                      name="setLocation"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_location setLocation classGpuSlice inputGpuSlice{{sliceName}}Location "
                      name="setLocation"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_location valueLocation classGpuSlice inputGpuSlice{{sliceName}}Location "
                      name="location"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{ toJsonObjectString(result.location) | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmLocationGpuSlicePage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputLocationGpuSlicePage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmButton_patchGpuSlice() %}<wa-button variant="brand" id="htmButton_patchGpuSlice" data-sliceName={{ result.sliceName | tojson }}><i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-edit "></i>Modify</wa-button>{%- endmacro %}

{%- macro htmFormButton_patchGpuSlice() %}
          <wa-button variant="brand" slot="footer" type="submit" id="htmFormButton_patchGpuSlice">Modify GPU slice</wa-button>
{%- endmacro %}

{%- macro htmForm_patchGpuSlice() %}
        <wa-dialog with-footer id="patchGpuSliceDialog" label="Modify GPU slice">
          <form id="htmForm_patchGpuSlice" class="round-row primary-smart-border-radius ">
            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmPkGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmPkGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmPkGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmCreatedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmCreatedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmCreatedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmModifiedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmModifiedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmModifiedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmArchivedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmArchivedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmArchivedGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
            <wa-details class="HtmRow" id="gpu-device-details">
              <div slot="summary">
                <span>GPU device details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmSliceNameGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmSliceNameGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmSliceNameGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmDescriptionGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmDescriptionGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmDescriptionGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmIdGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmIdGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmIdGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmLocationGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmLocationGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmLocationGpuSlicePage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchGpuSlice() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmButton_postGpuSlice() %}<wa-button variant="brand" id="htmButton_postGpuSlice" data-sliceName={{ result.sliceName | tojson }}><i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-file-plus "></i>Create</wa-button>{%- endmacro %}

{%- macro htmFormButton_postGpuSlice() %}
          <wa-button variant="brand" slot="footer" type="submit" id="htmFormButton_postGpuSlice">Create a GPU slice</wa-button>
{%- endmacro %}

{%- macro htmForm_postGpuSlice() %}
        <wa-dialog with-footer id="postGpuSliceDialog" label="Create a GPU slice">
          <form id="htmForm_postGpuSlice" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>
            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmPkGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmPkGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmPkGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmCreatedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmCreatedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmCreatedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmModifiedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmModifiedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmModifiedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmArchivedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmArchivedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmArchivedGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
            <wa-details class="HtmRow" id="gpu-device-details">
              <div slot="summary">
                <span>GPU device details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmSliceNameGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmSliceNameGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmSliceNameGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmDescriptionGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmDescriptionGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmDescriptionGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmIdGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmIdGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmIdGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmLocationGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmLocationGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmLocationGpuSlicePage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postGpuSlice() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmButton_deleteGpuSlice() %}<wa-button variant="brand" id="htmButton_deleteGpuSlice" data-sliceName={{ result.sliceName | tojson }}><i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}

{%- macro htmFormButton_deleteGpuSlice() %}
          <wa-button variant="brand" slot="footer" type="submit" id="htmFormButton_deleteGpuSlice">Delete GPU slice</wa-button>
{%- endmacro %}

{%- macro htmForm_deleteGpuSlice() %}
        <wa-dialog with-footer id="deleteGpuSliceDialog" label="Delete GPU slice">
          <form id="htmForm_deleteGpuSlice" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteGpuSlice() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmButton_putimportGpuSlice() %}<wa-button variant="brand" id="htmButton_putimportGpuSlice" data-sliceName={{ result.sliceName | tojson }}><i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-file-import "></i>Import</wa-button>{%- endmacro %}

{%- macro htmFormButton_putimportGpuSlice() %}
          <wa-button variant="brand" slot="footer" type="submit" id="htmFormButton_putimportGpuSlice">Import GPU slices</wa-button>
{%- endmacro %}

{%- macro htmForm_putimportGpuSlice() %}
        <wa-dialog with-footer id="putimportGpuSliceDialog" label="Import GPU slices">
          <form id="htmForm_putimportGpuSlice" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'sliceName': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportGpuSlice() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmButton_searchpageGpuSlice() %}{%- endmacro %}

{%- macro htmFormButton_searchpageGpuSlice() %}
          <wa-button variant="brand" slot="footer" type="submit" id="htmFormButton_searchpageGpuSlice">Search GPU slices</wa-button>
{%- endmacro %}

{%- macro htmForm_searchpageGpuSlice() %}
        <div with-footer id="searchpageGpuSliceDialog" label="Search GPU slices">
          <div id="htmForm_searchpageGpuSlice" class="round-row primary-smart-border-radius ">
            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmPkGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmPkGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmPkGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmCreatedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmCreatedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmCreatedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmModifiedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmModifiedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmModifiedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmArchivedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmArchivedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmArchivedGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
            <wa-details class="HtmRow" id="gpu-device-details">
              <div slot="summary">
                <span>GPU device details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmSliceNameGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmSliceNameGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmSliceNameGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmDescriptionGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmDescriptionGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmDescriptionGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmIdGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmIdGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmIdGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildTenantGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildPathGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildContextGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNgsildDataGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmLocationGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmLocationGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmLocationGpuSlicePage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmButton_deletefilterGpuSlice() %}<wa-button variant="brand" id="htmButton_deletefilterGpuSlice" data-sliceName={{ result.sliceName | tojson }}><i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}

{%- macro htmFormButton_deletefilterGpuSlice() %}
          <wa-button variant="brand" slot="footer" type="submit" id="htmFormButton_deletefilterGpuSlice">Delete GPU slice</wa-button>
{%- endmacro %}

{%- macro htmForm_deletefilterGpuSlice() %}
        <wa-dialog with-footer id="deletefilterGpuSliceDialog" label="Delete GPU slice">
          <form id="htmForm_deletefilterGpuSlice" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterGpuSlice() }}
        </wa-dialog>
{%- endmacro %}
          <wa-divider></wa-divider>
          <div id="htmButtonGroup">
            <div class="flex flex-wrap round-column pill-smart-border-radius ">
{% if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {% if "PATCH" in scopes %}
    {% if resultCount >= 1 %}
              <wa-button variant="brand" id="refreshThisGpuSliceGenPage"
                   onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'sliceName:{{sliceName}}' } ], {}, this, function() { addGlow(document.querySelector('#refreshThisGpuSliceGenPage')); }, function() { addError(document.querySelector('#refreshThisGpuSliceGenPage')); }); return false; ">
                <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-sync-alt "></i>
                refresh
              </wa-button>
    {% endif %}
    {% if resultCount > 0 %}
              <wa-button variant="brand" id="refreshAllGpuSliceGenPage{{ result.sliceName | e }}"
                   onclick="patch{{classSimpleName}}Vals([], {}, this, function() { addGlow(document.querySelector('#refreshAllGpuSliceGenPage{{ result.sliceName | e }}')); }, function() { addError(document.querySelector('#refreshAllGpuSliceGenPage{{ result.sliceName | e }}')); }); "
                  >
                <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-arrows-rotate"></i>
                Refresh all 
              </wa-button>
    {% endif %}
  {% endif %}
{% endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {%- if resultCount > 0 %}
    {{ htmButton_patchGpuSlice() }}
  {%- endif %}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmButton_postGpuSlice() }}
  {%- else %}
    {{ htmButton_postGpuSlice() }}
  {%- endif %}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount == 1 %}
    {{ htmButton_deleteGpuSlice() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmButton_putimportGpuSlice() }}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount > 1 %}
    {{ htmButton_deletefilterGpuSlice() }}
  {%- endif %}
{%- endif %}

            </div>
          </div>
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {%- if resultCount > 0 %}
    {{ htmForm_patchGpuSlice() }}
  {%- endif %}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postGpuSlice() }}
  {%- else %}
    {{ htmForm_postGpuSlice() }}
  {%- endif %}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteGpuSlice() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportGpuSlice() }}
{%- endif %}
{% if AUTH_SCOPE_ADMIN in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterGpuSlice() }}
  {%- else %}
  {%- endif %}
{%- endif %}
