<!DOCTYPE html>
<html lang="{{ SITE_LOCALE }}" class="wa-{{ SITE_THEME }}">
  <head>
{%- block htmHeadPageLayout %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{%- block htmMetaPageLayout %}
{%- endblock htmMetaPageLayout %}
{%- block htmTitlePageLayout %}
    <title>{{ SITE_DISPLAY_NAME }}</title>
{%- endblock htmTitlePageLayout %}
{%- block htmStylesPageLayout %}
    <link rel="icon" href="{{ STATIC_BASE_URL }}/favicon.svg" />
    {{ WEB_COMPONENTS_CSS }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/site.css"/>
{%- endblock htmStylesPageLayout %}
    <style>{%- block htmStylePageLayout %}{%- endblock htmStylePageLayout %}</style>
{%- block htmScriptsPageLayout %}
{%- if FONTAWESOME_KIT is defined %}
    {{ FONTAWESOME_KIT }}
{%- endif %}
    <script type="module">

      function siteSearchInput(event) {
        var filters = [];
        if(event.target.value == '')
          filters.push({ name: 'q', value: '*:*' });
        else
          filters.push({ name: 'q', value: 'objectSuggest:' + event.target.value });

        fetch(
          '{{ USER_SEARCH_URI if userName is defined else PUBLIC_SEARCH_URI }}?' + filters.map(function(m) { return m.name + '=' + encodeURIComponent(m.value) }).join('&')
          , {
            headers: {'Content-Type':'application/json; charset=utf-8'}
          }).then(response => {
            if(response.ok) {
              var dropdown = document.querySelector('#siteSearchDropdown');
              var dropdownMenu = document.querySelector('#siteSearchDropdownMenu');
              response.json().then(function(body) {
                dropdownMenu.innerHTML = '';
                body.list.forEach((o) => {
                  var menuItem = document.createElement('wa-menu-item');
                  menuItem.innerText = o.title;
                  menuItem.setAttribute('data-href', o.displayPage);
                  dropdownMenu.appendChild(menuItem);
                  menuItem.addEventListener('click', (event) => window.location.href = event.target.getAttribute('data-href') );
                });
                dropdown.show();
              });
            } else {
              error(response, event.target);
            }
          })
          .catch(response => error(response, event.target));
      }

      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {
        document.querySelector('#siteSearchInput')?.addEventListener('wa-input', siteSearchInput);
        document.querySelector('#siteSearchInput')?.addEventListener('wa-focus', siteSearchInput);
      });
    </script>
    {{ WEB_COMPONENTS_JS }}
    <script src="{{ STATIC_BASE_URL }}/js/site.js"></script>
    <script type="module" src="{{ STATIC_BASE_URL }}/js/siteModule.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/sockjs.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/vertx-eventbus.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/plotly-2.9.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.contextmenu.js"></script>
{%- endblock htmScriptsPageLayout %}
{%- block htmScriptPageLayout %}
{%- endblock htmScriptPageLayout %}
{%- endblock htmHeadPageLayout %}
    <script>
{%- block websocketPageLayout %}{%- endblock websocketPageLayout %}
    </script>
   </head>
  <body>
    <wa-page disable-sticky="header">
{%- block htmBodyPageLayout %}
{%- block htmBodyStartPageLayout %}
      <aside class="main-sidebar" slot="navigation">
        <nav>
          <div>
            <a href="/">
              <img id="site-aside-left-img-logo" src="{{ STATIC_BASE_URL }}{{ SITE_LOGO_URI }}"/>
            </a>
          </div>
          <wa-tooltip for="site-aside-left-model-button-SitePage" placement="right" hoist>Read the latest articles to learn more</wa-tooltip>
          <wa-tooltip for="site-aside-left-model-button-AiCluster" placement="right" hoist>A Red Hat OpenShift cluster containing GPUs</wa-tooltip>
          <wa-tooltip for="site-aside-left-model-button-AiNode" placement="right" hoist>A Red Hat OpenShift node containing GPUs</wa-tooltip>
          <wa-tooltip for="site-aside-left-model-button-GpuDevice" placement="right" hoist>A Red Hat OpenShift GPU device containing GPUs</wa-tooltip>
          <wa-tooltip for="site-aside-left-model-button-GpuSlice" placement="right" hoist>A GPU slice inside a GPU</wa-tooltip>
          <wa-tooltip for="site-aside-left-model-button-AiProject" placement="right" hoist>A research project using AI and GPUs</wa-tooltip>
          <div class="flex flex-column round-row primary-smart-border-radius margin-block">
{%- if userName is defined %}
            <wa-details>
              <div slot="summary">
                <wa-avatar label="user"></wa-avatar>
                user: {{userName}}
              </div>
              <div>{{ userFullName }}</div>
              <div>{{ userEmail }}</div>
              <div>
                <wa-tooltip content="see or change your user profile">
                  <wa-button variant="brand" href="/user" label="see or change your user profile">
                    <i slot="prefix" class="fa-duotone fa-regular fa-house-user"></i>
                    <span>my user page</span>
                  </wa-button>
                </wa-tooltip>
                <wa-tooltip placement="right" content="sign out">
                  <wa-button variant="brand" href="{{ logoutUrl }}" label="sign out">
                    <i slot="prefix" class="fa-duotone fa-regular fa-person-from-portal"></i>
                    <span>sign out</span>
                  </wa-button>
                </wa-tooltip>
              </div>
            </wa-details>
{%- else %}
            <wa-button variant="brand" href="{{ SITE_BASE_URL }}/user">
              <i class="fa-duotone fa-regular fa-person-to-portal"></i> login
            </wa-button>
{%- endif %}
          </div>
          <div class="flex flex-column round-row primary-smart-border-radius margin-block">
            <wa-button variant="brand" id="site-aside-left-model-button-SitePage" href="{{ SITE_BASE_URL }}/en-us/search/article">
              <i class="fa-duotone fa-solid fa-newspaper"></i>
              articles
            </wa-button>
            <wa-button variant="brand" id="site-aside-left-model-button-AiCluster" href="{{ SITE_BASE_URL }}/en-us/search/ai-cluster">
              <i class="fa-regular fa-server"></i>
              AI clusters
            </wa-button>
            <wa-button variant="brand" id="site-aside-left-model-button-AiNode" href="{{ SITE_BASE_URL }}/en-us/search/ai-node">
              <i class="fa-regular fa-computer"></i>
              AI nodes
            </wa-button>
            <wa-button variant="brand" id="site-aside-left-model-button-GpuDevice" href="{{ SITE_BASE_URL }}/en-us/search/gpu-device">
              <i class="fa-regular fa-memory"></i>
              GPU devices
            </wa-button>
            <wa-button variant="brand" id="site-aside-left-model-button-GpuSlice" href="{{ SITE_BASE_URL }}/en-us/search/gpu-slice">
              <i class="fa-regular fa-cake-slice"></i>
              GPU slices
            </wa-button>
            <wa-button variant="brand" id="site-aside-left-model-button-AiProject" href="{{ SITE_BASE_URL }}/en-us/search/ai-project">
              <i class="fa-regular fa-school"></i>
              AI projects
            </wa-button>
          </div>
        </nav>
      </aside>
      <main>
        <header slot="header" class="margin-block ">
          <wa-icon-button data-toggle-nav name="bars" class="nav-toggle-button hide-desktop " label="open menu" appearance="text"></wa-icon-button>
          <wa-input placeholder="search" id="siteSearchInput">
            <i slot="prefix" class="fa-duotone fa-regular fa-magnifying-glass"></i>
          </wa-input>
        </header>
        <wa-dropdown id="siteSearchDropdown" class="display-block ">
          <wa-menu id="siteSearchDropdownMenu">
          </wa-menu>
        </wa-dropdown>
{%- endblock htmBodyStartPageLayout %}
{% block htmBodyMiddlePageLayout %}
        <div class="pageContent ">
          put stuff here
        </div>
{%- endblock htmBodyMiddlePageLayout %}
{%- block htmBodyEndPageLayout %}
      </main>
      <footer class="flex flex-column round-row primary-smart-border-radius margin-block">
        {% if GITHUB_ORG is defined %}
        <a href="https://github.com/{{ GITHUB_ORG }}/{{ SITE_NAME }}/" target="_blank">
          <wa-card>
            This site is <b><i class="fa-brands fa-github fa-xl"></i> open source</b>
          </wa-card>
        </a>
        {% endif %}
        <a href="https://www.computate.org/" target="_blank" id="footer-generated-by">
          <wa-card>
              Generated with <b><img class="footer-img" src="{{ STATIC_BASE_URL }}/svg/computate-keys.svg" alt="Computate"/></b>
          </wa-card>
        </a>
        {% if SITE_POWERED_BY_URL is defined %}
        <a href="{{ SITE_POWERED_BY_URL }}" target="_blank" id="footer-powered-by">
          <wa-card>
            Powered by <i class="fa-brands fa-redhat fa-xl" style="color: #ff0000;"></i> <b>{{ SITE_POWERED_BY_NAME | e }}</b>
          </wa-card>
        </a>
        {% endif %}
      </footer>
    </wa-page>
{%- endblock htmBodyEndPageLayout %}
{%- endblock htmBodyPageLayout %}
  </body>
</html>
