<!DOCTYPE html>
<html lang="{{ SITE_LOCALE }}" class="sl-theme-{{ SITE_THEME }}">
  <head>
{% block htmHeadPageLayout %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% block htmMetaPageLayout %}
{% endblock htmMetaPageLayout %}
{% block htmTitlePageLayout %}
    <title>computate-smart-laptop-challenge</title>
{% endblock htmTitlePageLayout %}
{% block htmStylesPageLayout %}
    <link rel="icon" href="{{ STATIC_BASE_URL }}/favicon.ico" />
    <!-- <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/w3.css">  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/dark.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/site.css"/>
{% endblock htmStylesPageLayout %}

    <style>
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
    </style>

{% block htmScriptsPageLayout %}
{% if FONTAWESOME_KIT is defined %}
    {{ FONTAWESOME_KIT }}
{% endif %}
    <script>

      function addGlow($input) {
        $input.classList.add('glowSuccess');
        $input.classList.remove('glowError');
      }

      function removeGlow($input) {
        $input.classList.remove('glowSuccess');
        $input.classList.remove('glowError');
      }

      function addError($input) {
        $input.classList.remove('glowSuccess');
        $input.classList.add('glowError');
      }
    </script>
    <script type="module">
      import { registerIconLibrary } from 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/utilities/icon-library.js';
    
      registerIconLibrary('fa', {
        resolver: name => {
          const filename = name.replace(/^fa[rbs]-/, '');
          let folder = 'regular';
          if (name.substring(0, 4) === 'fas-') folder = 'solid';
          if (name.substring(0, 4) === 'fab-') folder = 'brands';
          console.log(`https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/svgs/${folder}/${filename}.svg`);
          return `https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/svgs/${folder}/${filename}.svg`;
        },
        mutator: svg => svg.setAttribute('fill', 'currentColor')
      });

      function siteSearchInput(event) {
        var filters = [];
        if(event.target.value == '')
          filters.push({ name: 'q', value: '*:*' });
        else
          filters.push({ name: 'q', value: 'objectSuggest:' + event.target.value });

        fetch(
          '/search?' + filters.map(function(m) { return m.name + '=' + encodeURIComponent(m.value) }).join('&')
          , {
            headers: {'Content-Type':'application/json; charset=utf-8'}
          }).then(response => {
            if(response.ok) {
              var dropdown = document.querySelector('#siteSearchDropdown');
              var dropdownMenu = document.querySelector('#siteSearchDropdownMenu');
              response.json().then(function(body) {
                dropdownMenu.innerHTML = '';
                body.list.forEach((o) => {
                  var menuItem = document.createElement('sl-menu-item');
                  menuItem.innerText = o.objectTitle;
                  menuItem.setAttribute('data-href', o.pageUrlId);
                  dropdownMenu.appendChild(menuItem);
                  menuItem.addEventListener('click', (event) => window.location.href = event.target.getAttribute('data-href') );
                });
                dropdown.show();
              });
            } else {
              error(response, event.target);
            }
          })
          .catch(response => error(response, event.target));
      }

      Promise.all([
        customElements.whenDefined('sl-button')
        , customElements.whenDefined('sl-input')
      ]).then(() => {
        document.querySelector('#siteSearchInput')?.addEventListener('sl-input', siteSearchInput);
        document.querySelector('#siteSearchInput')?.addEventListener('sl-focus', siteSearchInput);
      });
    </script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/site.js"></script>
    <script type="module" src="{{ STATIC_BASE_URL }}/js/siteModule.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/sockjs.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/vertx-eventbus.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/plotly-2.9.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock htmScriptsPageLayout %}
{% block htmScriptPageLayout %}
{% endblock htmScriptPageLayout %}
{% endblock htmHeadPageLayout %}

    <script>    </script>
  </head>
  <body>
    <div id="site-grid">
{% block htmBodyPageLayout %}
{% block htmBodyStartPageLayout %}
      <aside id="site-aside-left" class="hide-mobile ">
        <a id="img-keys-a" href="/">
          <img id="site-aside-left-img-logo" src="{{ STATIC_BASE_URL }}{{ SITE_LOGO_URI }}"/>
        </a>
        <sl-button id="site-aside-left-close-button" label="Close" data-drawer="close" class="hide-desktop">
          <i slot="prefix" class="fas fa-xmark"></i>
        </sl-button>
        <ul>
          <li>
            <sl-button href="{{ SITE_BASE_URL }}">
              <i class="fa-regular fa-house"></i>
              home
            </sl-button>
          </li>
          <li>
            <sl-tooltip placement="right" content="Read the latest articles to learn more">
              <sl-button href="{{ SITE_BASE_URL }}/page">
                <i class="fa-duotone fa-solid fa-newspaper"></i>
                articles
              </sl-button>
            </sl-tooltip>
          </li>
          <li>
            <sl-tooltip placement="right" content="A Red Hat OpenShift cluster containing GPUs">
              <sl-button href="{{ SITE_BASE_URL }}/ai-cluster">
                <i class="fa-regular fa-server"></i>
                AI clusters
              </sl-button>
            </sl-tooltip>
          </li>
          <li>
            <sl-tooltip placement="right" content="A Red Hat OpenShift node containing GPUs">
              <sl-button href="{{ SITE_BASE_URL }}/ai-node">
                <i class="fa-regular fa-computer"></i>
                AI nodes
              </sl-button>
            </sl-tooltip>
          </li>
          <li>
            <sl-tooltip placement="right" content="A Red Hat OpenShift GPU device containing GPUs">
              <sl-button href="{{ SITE_BASE_URL }}/gpu-device">
                <i class="fa-regular fa-memory"></i>
                GPU devices
              </sl-button>
            </sl-tooltip>
          </li>
          <li>
            <sl-tooltip placement="right" content="A GPU inside a GPU device">
              <sl-button href="{{ SITE_BASE_URL }}/gpu">
                <i class="fa-regular fa-microchip"></i>
                GPUs
              </sl-button>
            </sl-tooltip>
          </li>
          <li>
            <sl-tooltip placement="right" content="A GPU slice inside a GPU">
              <sl-button href="{{ SITE_BASE_URL }}/gpu-slice">
                <i class="fa-regular fa-cake-slice"></i>
                GPU slices
              </sl-button>
            </sl-tooltip>
          </li>
          <li>
            <sl-tooltip placement="right" content="A research project using AI and GPUs">
              <sl-button href="{{ SITE_BASE_URL }}/ai-project">
                <i class="fa-regular fa-school"></i>
                AI projects
              </sl-button>
            </sl-tooltip>
          </li>
{% if userName is defined %}
          <li>
            <sl-details>
              <div slot="summary">
                <sl-avatar label="user"></sl-avatar>
                user: {{userName}}
              </div>
              <div>{{ userFullName }}</div>
              <div>{{ userEmail }}</div>
              <div>
                <sl-tooltip placement="right" content="see or change your user profile">
                  <sl-button href="/user" label="see or change your user profile">
                    <i slot="prefix" class="fad fa-house-user"></i>
                    <span>my user page</span>
                  </sl-button>
                </sl-tooltip>
                <sl-tooltip placement="right" content="sign out">
                  <sl-button href="{{ logoutUrl }}" label="sign out">
                    <i slot="prefix" class="fa-duotone fa-person-from-portal"></i>
                    <span>sign out</span>
                  </sl-button>
                </sl-tooltip>
              </div>
            </sl-details>
          </li>
{% else %}
          <li>
            <sl-button href="{{ SITE_BASE_URL }}/user">
              <i class="fa-duotone fa-person-to-portal"></i> login
            </sl-button>
          </li>
{% endif %}
        </ul>
      </aside>
      <main>
        <header id="top-bar">
          <sl-button data-toggle-nav id="nav-toggle-button" class="hide-desktop " label="open menu" appearance="text">
            <i slot="prefix" class="fas fa-bars"></i>
          </sl-button>
          <sl-input placeholder="search" id="siteSearchInput">
            <i slot="prefix" class="fa-light fa-magnifying-glass"></i>
          </sl-input>
        </header>
        <sl-dropdown id="siteSearchDropdown" class="display-block ">
          <sl-menu id="siteSearchDropdownMenu">
          </sl-menu>
        </sl-dropdown>
        </header>
{% endblock htmBodyStartPageLayout %}
{% block htmBodyMiddlePageLayout %}
        <div class="pageContent w3-content ">
          put stuff here
        </div>
{% endblock htmBodyMiddlePageLayout %}
{% block htmBodyEndPageLayout %}
      </main>
      <footer id="site-footer" class="split-block round-first-and-last-column-x-large ">
        {% if GITHUB_ORG is defined %}
        <sl-button size="large" id="footer-open-source" target="_blank" href="https://github.com/{{ GITHUB_ORG }}/{{ SITE_NAME }}/">
          <div>
            <i class="fa-brands fa-github fa-5x "></i>
          </div>
          <div>
            This site is open source. 
          </div>
        </sl-button>
        {% endif %}
        <sl-button size="large" id="footer-generated-by" href="https://www.computate.org/" target="_blank">
          <div>
            <div>Generated with </div>
            <div>
              <img id="site-aside-left-img-logo" src="{{ STATIC_BASE_URL }}/svg/computate-keys.svg"/>
            </div>
          </div>
        </sl-button>
        {% if SITE_POWERED_BY_URL is defined %}
        <sl-button size="large" id="footer-powered-by" href="{{ SITE_POWERED_BY_URL }}" target="_blank">
          <div>
            <div>
              <img src="{{ STATIC_BASE_URL }}{{ SITE_POWERED_BY_IMAGE_URI }}"/>
            </div>
            <div>
              Powered by {{ SITE_POWERED_BY_NAME }}
            </div>
          </div>
        </sl-button>
        {% endif %}
      </footer>
    </div>
{% endblock htmBodyEndPageLayout %}
{% endblock htmBodyPageLayout %}
  </body>
</html>
