apiVersion: kubeflow.org/v1
kind: Notebook
metadata:
  annotations:
    notebooks.opendatahub.io/inject-oauth: 'true'
    opendatahub.io/image-display-name: VSCode IJava java-17-openjdk
    notebooks.opendatahub.io/oauth-logout-url: 'https://rhods-dashboard-redhat-ods-applications.apps.k5p2r6m6e1c4d2r.dq2p.p2.openshiftapps.com/projects/{{ WORKBENCH_NAMESPACE }}?notebookLogout={{ WORKBENCH_NAME }}'
    opendatahub.io/accelerator-name: ''
    openshift.io/description: ''
    openshift.io/display-name: {{ WORKBENCH_NAME }}
    notebooks.opendatahub.io/last-image-selection: 'vscode-java:1.3.0'
    notebooks.opendatahub.io/last-size-selection: Small
    opendatahub.io/username: {{ WORKBENCH_NAME }}
  name: {{ WORKBENCH_NAME }}
  namespace: {{ WORKBENCH_NAMESPACE }}
  labels:
    app: {{ WORKBENCH_NAME }}
    opendatahub.io/dashboard: 'true'
    opendatahub.io/odh-managed: 'true'
    opendatahub.io/user: {{ WORKBENCH_NAME }}
spec:
  template:
    spec:
      affinity: {}
      containers:
        - resources:
            limits:
              cpu: '2'
              memory: 8Gi
            requests:
              cpu: '1'
              memory: 8Gi
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /notebook/{{ WORKBENCH_NAMESPACE }}/{{ WORKBENCH_NAME }}/api
              port: notebook-port
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          name: {{ WORKBENCH_NAME }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /notebook/{{ WORKBENCH_NAMESPACE }}/{{ WORKBENCH_NAME }}/api
              port: notebook-port
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          env:
            - name: NOTEBOOK_ARGS
              value: |-
                --ServerApp.port=8888
                                  --ServerApp.token=''
                                  --ServerApp.password=''
                                  --ServerApp.base_url=/notebook/{{ WORKBENCH_NAMESPACE }}/{{ WORKBENCH_NAME }}
                                  --ServerApp.quit_button=False
                                  --ServerApp.tornado_settings={"user":"{{ WORKBENCH_NAME }}","hub_host":"https://rhods-dashboard-redhat-ods-applications.apps.k5p2r6m6e1c4d2r.dq2p.p2.openshiftapps.com","hub_prefix":"/projects/{{ WORKBENCH_NAMESPACE }}"}
            - name: JUPYTER_IMAGE
              value: 'image-registry.openshift-image-registry.svc:5000/redhat-ods-applications/vscode-java:1.3.0'
            - name: GIT_SSL_CAINFO
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
            - name: PIP_CERT
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
            - name: REQUESTS_CA_BUNDLE
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
            - name: SSL_CERT_FILE
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
            - name: PIPELINES_SSL_SA_CERTS
              value: /etc/pki/tls/custom-certs/ca-bundle.crt
          ports:
            - containerPort: 8888
              name: notebook-port
              protocol: TCP
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /opt/app-root/src
              name: {{ WORKBENCH_NAME }}
            - mountPath: /dev/shm
              name: shm
            - mountPath: /etc/pki/tls/custom-certs/ca-bundle.crt
              name: trusted-ca
              readOnly: true
              subPath: ca-bundle.crt
          envFrom:
            - configMapRef:
                name: workbench-{{ WORKBENCH_NAME }}-default
            - configMapRef:
                name: workbench-{{ WORKBENCH_NAME }}-{{ SITE_NAME }}
          image: 'image-registry.openshift-image-registry.svc:5000/redhat-ods-applications/vscode-java:1.4.0'
          workingDir: /opt/app-root/src
        - resources:
            limits:
              cpu: 100m
              memory: 64Mi
            requests:
              cpu: 100m
              memory: 64Mi
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /oauth/healthz
              port: oauth-proxy
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          name: oauth-proxy
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /oauth/healthz
              port: oauth-proxy
              scheme: HTTPS
            initialDelaySeconds: 30
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - containerPort: 8443
              name: oauth-proxy
              protocol: TCP
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /etc/oauth/config
              name: oauth-config
            - mountPath: /etc/tls/private
              name: tls-certificates
          image: 'registry.redhat.io/openshift4/ose-oauth-proxy@sha256:4f8d66597feeb32bb18699326029f9a71a5aca4a57679d636b876377c2e95695'
          args:
            - '--provider=openshift'
            - '--https-address=:8443'
            - '--http-address='
            - '--openshift-service-account={{ WORKBENCH_NAME }}'
            - '--cookie-secret-file=/etc/oauth/config/cookie_secret'
            - '--cookie-expire=24h0m0s'
            - '--tls-cert=/etc/tls/private/tls.crt'
            - '--tls-key=/etc/tls/private/tls.key'
            - '--upstream=http://localhost:8888'
            - '--upstream-ca=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt'
            - '--email-domain=*'
            - '--skip-provider-button'
            - '--openshift-sar={"verb":"get","resource":"notebooks","resourceAPIGroup":"kubeflow.org","resourceName":"{{ WORKBENCH_NAME }}","namespace":"$(NAMESPACE)"}'
            - '--logout-url=https://rhods-dashboard-redhat-ods-applications.apps.k5p2r6m6e1c4d2r.dq2p.p2.openshiftapps.com/projects/{{ WORKBENCH_NAMESPACE }}?notebookLogout={{ WORKBENCH_NAME }}'
      enableServiceLinks: false
      serviceAccountName: {{ WORKBENCH_NAME }}
      volumes:
        - name: {{ WORKBENCH_NAME }}
          persistentVolumeClaim:
            claimName: {{ WORKBENCH_NAME }}
        - emptyDir:
            medium: Memory
          name: shm
        - configMap:
            items:
              - key: ca-bundle.crt
                path: ca-bundle.crt
            name: workbench-trusted-ca-bundle
            optional: true
          name: trusted-ca
        - name: oauth-config
          secret:
            defaultMode: 420
            secretName: {{ WORKBENCH_NAME }}-oauth-config
        - name: tls-certificates
          secret:
            defaultMode: 420
            secretName: {{ WORKBENCH_NAME }}-tls
