        <div class="htmBodySidebarGpuDevicePage ">
{%- block htmBodySidebarGpuDevicePage %}
          <sl-drawer with-header light-dismiss placement="end" id="siteSidebarToggleSearch">
            <div slot="label">
              <i class="fad fa-magnifying-glass "></i>
              Search
            </div>
            <div>
              {%- block htmBodySearchGpuDevicePage %}
              <div>
                {% for key, value in varsQ.items() %}
                <div>
                  <div>
                    <label for="qGpuDevice_{{ key }}">{{ value.displayName }}<sup> ({{ value.classSimpleName }})</sup></label>
                  </div>
                </div>
                <div>
                  <div>
                    <sl-input id="qGpuDevice_{{ key }}" placeholder="{{ displayName }}" data-var="{{ key }}" autocomplete="off="></sl-input>
                    <div id="qGpuDeviceDiv_{{ key }}" class="pageSearchVal "></div>
                  </div>
                </div>
                {% endfor %}
                <div>
                  <div>
                    <label for="qGpuDevice_Start">start<sup> (Long)</sup></label>
                  </div>
                </div>
                <div>
                  <div>
                    <sl-input id="qGpuDevice_start" placeholder="{{ displayName }}" class="" data-var="start" autocomplete="off=" value="{{ start }}"></sl-input>
                    <div id="qGpuDeviceDiv_start" class="pageSearchVal ">start={{ start }}</div>
                  </div>
                </div>
                <div>
                  <div>
                    <label for="qGpuDevice_Rows">rows<sup> (Long)</sup></label>
                  </div>
                </div>
                <div>
                  <div>
                    <sl-input id="qGpuDevice_rows" placeholder="{{ displayName }}" class="" data-var="rows" autocomplete="off" value="{{ rows }}"></sl-input>
                    <div id="qGpuDeviceDiv_rows" class="pageSearchVal ">rows={{ rows }}</div>
                  </div>
                </div>
              </div>
              {%- endblock htmBodySearchGpuDevicePage %}
            </div>
          </sl-drawer>
          <sl-drawer with-header light-dismiss placement="end" id="siteSidebarToggleFilters">
            <div slot="label">
              <span>
              <i class="fad fa-filters "></i> Filters</span>
            </div>
            <div>
              {%- block htmBodyFiltersGpuDevicePage %}
              <div>
                {% for key, value in varsFq.items() %}
                  <div class="">
                    <label for="fqGpuDevice_{{ key }}">{{ value.displayName }}<sup> ({{ value.classSimpleName }})</sup></label>
                    <sl-tooltip for="buttonFacetGpuDevice_{{ key }}">see values</sl-tooltip>
                    <div class="flex round-column pill-smart-border-radius ">
                      <sl-button variant="primary" id="buttonFacetGpuDevice_{{ key }}" data-var="{{ value.var }}" data-clear="{% if value.facetField is defined %}true{% else %}false{% endif %}"><i class="fas fa-list "></i></sl-button>
                      <sl-input id="fqGpuDevice_{{ key }}" placeholder="{{ value.displayName }}" class="" onchange="fqChange('GpuDevice', value); " data-var="{{ value.var }}" autocomplete="off=" value="{{ value.val }}"></sl-input>
                    </div>
                  </div>
                  <div>
                    <div class="pageSearchVal " id="pageSearchVal-fqGpuDevice_{{ key }}">{% if value.val is defined %}fq={{ value.var }}:{{ value.val | urlencode() }}{% endif %}</div>
                    <div class="pageSearchVal " id="pageSearchVal-buttonFacetGpuDevice_{{ key }}">{% if value.facetField.var is defined %}facet.field={{ value.facetField.var }}{% endif %}</div>
                    <div class="pageFacetField pageFacetFieldGpuDevice_{{ key }} " id="pageFacetFieldGpuDevice_{{ key }}">
                      {% for facetFieldKey, facetFieldValue in value.facetField.counts.items() %}
                      <sl-tooltip content="{{ facetFieldValue | e }} GPU device total with {{ value.facetField.var | e }} &quot;{{ facetFieldKey | e }}&quot;">
                        <div class="cursor-pointer " data-class="GpuDevice" data-var="{{ value.facetField.var }}" data-val="{{ facetFieldKey }}" onclick="fqReplace('GpuDevice', this); ">{{ facetFieldValue }}: {{ facetFieldKey }}</div>
                      </sl-tooltip>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
              {%- endblock htmBodyFiltersGpuDevicePage %}
            </div>
          </sl-drawer>
          <sl-drawer with-header light-dismiss placement="end" id="siteSidebarToggleSort">
            <div slot="label">
              <i class="fad fa-solid fa-arrow-down-a-z "></i>
              Sort
            </div>
            <div>
              {%- block htmBodySortGpuDevicePage %}
              <div id="pageSearchVal-pageSort-GpuDevice">
              {% for key, value in varsFq.items() %}
                  <div class="pageSearchVal pageSearchVal-pageSort-GpuDevice-{{ key }} " id="pageSearchVal-pageSort-GpuDevice-{{ key }}">{% if defaultSortVars is defined and (key + ' asc') in defaultSortVars %}sort={{ key }} asc{% else %}{% if defaultSortVars is defined and (key + ' desc') in defaultSortVars %}sort={{ key }} desc{% endif %}{% endif %}</div>
              {% endfor %}
              </div>
              {% for key, value in varsFq.items() %}
              <div>
                <sl-radio-group name="pageFacetSort" class="pageFacetSort " id="pageFacetSortGpuDevice_{{ key }}" value="{% if (key + ' asc') in defaultSortVars %}asc{% else %}{% if (key + ' desc') in defaultSortVars %}desc{% endif %}{% endif %}"{% if pivot is defined %} checked="checked"{% endif %} label={{ value.displayName | tojson }} size="small">
                  <sl-radio-button value="" pill>none</sl-radio-button>
                  <sl-radio-button value="asc" pill>ascending</sl-radio-button>
                  <sl-radio-button value="desc" pill>descending</sl-radio-button>
                </sl-radio-group>
              </div>
              {% endfor %}
              {%- endblock htmBodySortGpuDevicePage %}
            </div>
          </sl-drawer>
          <sl-drawer with-header light-dismiss placement="end" id="siteSidebarToggleRange">
            <div slot="label">
              <span>
              <i class="fad fa-calendar-range "></i> Range</span>
            </div>
            <div>
              {%- block htmBodyRangeGpuDevicePage %}
              <table>
                <tr>
                  <td colspan="2">
                    <div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-GpuDevice">{% if rangeGap is defined %}facet.range.gap={{ rangeGap | urlencode() }}{% endif %}</div>
                    <div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-GpuDevice">{% if rangeStart is defined %}facet.range.start={{ rangeStart | urlencode() }}{% endif %}</div>
                    <div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-GpuDevice">{% if rangeEnd is defined %}facet.range.end={{ rangeEnd | urlencode() }}{% endif %}</div>
                    <div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-GpuDevice">{% if defaultRangeVar is defined %}facet.range={!tag=r1}{{ defaultRangeVar | urlencode() }}{% endif %}</div>
                  </td>
                </tr>
              </table>
              <table>
                <tr class="">
                  <td class="">
                    <span>Range Gap</span>
                  </td>
                  <td class="">
                    <sl-select name="facet.range.gap" id="pageFacetRangeGap-GpuDevice" onchange="facetRangeGapChange('GpuDevice', this); ">
                      <sl-option value="+1YEAR"{% if defaultRangeGap == '+1YEAR' %} selected="selected"{% else %}{% endif %}>Year</sl-option>
                      <sl-option value="+1MONTH"{% if defaultRangeGap == '+1MONTH' %} selected="selected"{% else %}{% endif %}>Month</sl-option>
                      <sl-option value="+1WEEK"{% if defaultRangeGap == '+1WEEK' %} selected="selected"{% else %}{% endif %}>Week</sl-option>
                      <sl-option value="+1DAY"{% if defaultRangeGap == '+1DAY' %} selected="selected"{% else %}{% if defaultRangeGap is defined %}{% else %} selected="selected"{% endif %}{% endif %}>Day</sl-option>
                      <sl-option value="+1HOUR"{% if defaultRangeGap == '+1HOUR' %} selected="selected"{% else %}{% endif %}>Hour</sl-option>
                      <sl-option value="+1MINUTE"{% if defaultRangeGap == '+1MINUTE' %} selected="selected"{% else %}{% endif %}>Minute</sl-option>
                      <sl-option value="+1SECOND"{% if defaultRangeGap == '+1SECOND' %} selected="selected"{% else %}{% endif %}>Second</sl-option>
                    </sl-select>
                  </td>
                </tr>
                <tr class="">
                  <td class="" colspan="2">
                    <span>Range Start</span>
                  </td>
                </tr>
                <tr class="">
                  <td class="" colspan="2">
                    <span><sl-input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-GpuDevice" value="{{ formatZonedDateTime(defaultRangeStart, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) }}" onclick="facetRangeStartChange('GpuDevice', this); "></sl-input></span>
                  </td>
                </tr>
                <tr class="">
                  <td class="" colspan="2">
                    <span>Range End</span>
                  </td>
                </tr>
                <tr class="">
                  <td class="" colspan="2">
                    <span><sl-input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-GpuDevice" value="{{ formatZonedDateTime(defaultRangeEnd, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) }}" onclick="facetRangeEndChange('GpuDevice', this); "></sl-input></span>
                  </td>
                </tr>
              </table>
              <sl-radio-group id="pageFacetRangeGpuDevice">                {% for key, value in varsRange.items() %}
                <sl-radio name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeGpuDevice_{{ key }}" value="{{ value.var }}"{% if defaultRangeVar == var %} checked="checked"{% endif %}>{{ value.displayName }}</sl-radio>
                {% endfor %}
              </sl-radio-group>
              {%- endblock htmBodyRangeGpuDevicePage %}
            </div>
          </sl-drawer>
          <sl-drawer with-header light-dismiss placement="end" id="siteSidebarTogglePivot">
            <div slot="label">
              <span>
              <i class="fad fa-table-pivot "></i> Pivot</span>
            </div>
            <div>
              {%- block htmBodyPivotGpuDevicePage %}
              <div style="display: none; " id="pageSearchVal-PivotGpuDeviceHidden">
                {% for item in defaultPivotVars %}
                  <div class="pageSearchVal-PivotGpuDeviceHidden " id="pageSearchVal-PivotGpuDeviceHidden_{{ item }}">{{ item }}</div>
                {% endfor %}
              </div>
              <div id="pageSearchVal-PivotGpuDevice">
                {% if defaultPivotVars is defined and defaultPivotVars.length > 0 %}
                  <div class="pageSearchVal pageSearchVal-PivotGpuDevice " id="pageSearchVal-PivotGpuDevice_1">facet.pivot={!range=r1}{% for item in defaultPivotVars %}{% if loop.index > 0 %},{% endif %}{{ item }}{% endfor %}</div>
                {% endif %}
              </div>
              {% for key, value in varsFq.items() %}
              <div>
                <sl-checkbox name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotGpuDevice_{{ key }}" value="{{ value.var }}"{% if pivot is defined %} checked="checked"{% endif %}>{{ value.displayName }}</sl-checkbox>
              </div>
              {% endfor %}
              {%- endblock htmBodyPivotGpuDevicePage %}
            </div>
          </sl-drawer>
          <sl-drawer with-header light-dismiss placement="end" id="siteSidebarToggleFieldList">
            <div slot="label">
              <span>
              <i class="fad fa-list-ul "></i> Field List</span>
            </div>
            <div>
{%- block htmBodyFieldListGpuDevicePage %}
              <div style="display: none; " id="pageSearchVal-FieldListGpuDeviceHidden">
                {% for item in defaultFieldListVars %}
                  <div class="pageSearchVal-FieldListGpuDeviceHidden " id="pageSearchVal-FieldListGpuDeviceHidden_{{ item }}">{{ item }}</div>
                {% endfor %}
              </div>
              {% if defaultFieldListVars is defined and defaultFieldListVars.length > 0 %}
              <div id="pageSearchVal-FieldListGpuDevice">
                {% if defaultFieldListVars is defined %}
                  <div class="pageSearchVal pageSearchVal-FieldListGpuDevice " id="pageSearchVal-FieldListGpuDevice_1">fl={% for item in defaultFieldListVars %}{% if loop.index > 0 %},{% endif %}{{ item }}{% endfor %}</div>
                {% endif %}
              </div>
              {% endif %}
              {% for key, value in varsFq.items() %}
              <div>
                <sl-checkbox name="pageFieldList" class="pageFieldList " id="pageFieldListGpuDevice_{{ key }}" value="{{ value.var }}"{% if fieldList is defined %} checked="checked"{% endif %} onclick="facetFieldListChange('GpuDevice', value); ">{{ value.displayName }}</sl-checkbox>
              </div>
                {% endfor %}
{%- endblock htmBodyFieldListGpuDevicePage %}
            </div>
          </sl-drawer>
          <sl-drawer with-header light-dismiss placement="end" id="siteSidebarToggleStats">
            <div slot="label">
              <i class="fad fa-chart-candlestick "></i>
              Stats
            </div>
            <div>
{%- block htmBodyStatsGpuDevicePage %}
              <div style="display: none; " id="pageSearchVal-StatsGpuDeviceHidden">
                {% for item in defaultStatsVars %}
                  <div class="pageSearchVal-StatsGpuDeviceHidden " id="pageSearchVal-StatsGpuDeviceHidden_{{ item }}">{{ item }}</div>
                {% endfor %}
              </div>
              <div id="pageSearchVal-StatsGpuDevice">
                {% if defaultStatsVars is defined %}
                  {% for item in defaultStatsVars %}
                    <div class="pageSearchVal pageSearchVal-StatsGpuDevice_{{ item }} " id="pageSearchVal-StatsGpuDevice_{{ item }}">stats.field={{ item }}                    </div>
                  {% endfor %}
                {% endif %}
              </div>
              <table>
                {% for key, value in varsFq.items() %}
                  {% if enableStats is defined %}
                    <tr class="">
                      <td class="">
                        <span><sl-checkbox name="pageStats" class="pageStats " id="pageStatsGpuDevice_{{ key }}" value="{{ value.var }}"{% if value.stats is defined %} checked="checked"{% endif %} onclick="facetStatsChange('GpuDevice', value); ">{{ value.displayName }}</sl-checkbox></span>
                      </td>
                      <td>
                        <div>
                          <label for="pageStatsGpuDevice_{{ key }}">{{ value.displayName }}</label>
                        </div>
                        <div class="pageStatsField pageStatsFieldGpuDevice_{{ key }} " id="pageStatsFieldGpuDevice_{{ key }}">
                          {% if value.stats is defined %}
                            {% for item in value.stats %}
                              {% if item.key == 'name' %}{% else %}
                                <div data-class="GpuDevice" data-var="{{ item.var }}" data-val="{{ item.key }}">{{ item.key }}: {{ item }}</div>
                              {% endif %}
                            {% endfor %}
                            {% if value.stats.max is defined %}
                              <div>
                                <span> step </span>
                                <sl-input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "></sl-input>
                                <span> min </span>
                                <sl-input id="animateStatsMin" placeholder="min" value="{{ value.stats.min }}" style="width: 4em; "></sl-input>
                                <span> max </span>
                                <sl-input id="animateStatsMax" placeholder="max" value="{{ value.stats.max }}" style="width: 4em; "></sl-input>
                                <span> speed in seconds </span>
                                <sl-input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "></sl-input>
                                <sl-button variant="primary" onclick="animateStats(); ">animate</sl-button>
                              </div>
                            {% endif %}
                          {% endif %}
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
{%- endblock htmBodyStatsGpuDevicePage %}
            </div>
          </sl-drawer>
{%- endblock htmBodySidebarGpuDevicePage %}
        </div>

{%- block htmBodyGraphLocationGpuDevicePage %}
        <div id="htmBodyGraphLocationGpuDevicePage" class="htmBodyGraphLocation "></div>
{%- endblock htmBodyGraphLocationGpuDevicePage %}

{%- block htmBodyGraphGpuDevicePage %}
        <div id="htmBodyGraphGpuDevicePage" class="htmBodyGraph "></div>
{%- endblock htmBodyGraphGpuDevicePage %}
