{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleGpuSlicePage %}
    <title>{{ result.title }}</title>
{%- endblock htmTitleGpuSlicePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/gpu-slice/GpuSlice.css"/>
{%- block htmStylesGpuSlicePage %}
{%- endblock htmStylesGpuSlicePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleGpuSlicePage %}
{%- endblock htmStyleGpuSlicePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsGpuSlicePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/gpu-slice/GpuSlice.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/gpu-slice/GpuSliceSearchPage.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/gpu-slice/GpuSliceEditPage.js"></script>
{%- endblock htmScriptsGpuSlicePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptGpuSlicePage %}
    <script>

      function jsWebsocketGpuSlice(sliceName, vars, $response) {
{%- block jsWebsocketGpuSlicePage %}{%- endblock %}
      }

      function jsTooltipGpuSlice(e, feature) {
{%- block jsTooltipGpuSlicePage %}{%- endblock %}
      }

      function htmTooltipGpuSlice(feature, layer) {
        return `{%- block htmTooltipGpuSlicePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.title}</a></h3>
{%- endblock htmTooltipGpuSlicePage %}`;
      }

      function jsLegendGpuSlice(map) {
{%- block jsLegendGpuSlicePage %}
        var div = L.DomUtil.create('div', 'info legend');
        var htm = '';
        window.listGpuSlice.forEach((result, index) => {
          if(result.location) {
            var shapes = [];
            if(Array.isArray(result.location))
              shapes = shapes.concat(result.location);
            else
              shapes.push(result.location);
            shapes.forEach(function(shape, index) {
              htm += htmLegendGpuSlice(map, shape, result, index, shapes.length);
            });
          }
        });
        div.innerHTML = htm;
        return div;
{%- endblock jsLegendGpuSlicePage %}
      }

      function htmLegendGpuSlice(map, shape, result, index, count) {
        var color = result.locationColors[index];
        var title = result.locationTitles[index];
        var url = result.locationLinks[index];
        var htm = '';
        htm += `<div class="cursor-pointer " style="max-width: 400px; ">
`;
        htm += `{%- block htmLegendGpuSlicePage %}
    <div title="${quoteattr(title)}">
    <div style="width: 20px; ">
      <i class="{{ FONTAWESOME_STYLE }} fa-circle" style="color: ${color}; "></i>
    </div>
    <div class="text-overflow-ellipsis ">
      <span class="" data-solrId="${result.solrId}" onclick="window.mapLayers[this.getAttribute('data-solrId')].openPopup(); return false;" href="">${title}</span>
    </div>
    </div>
{%- endblock htmLegendGpuSlicePage %}`;
        htm += `
</div>
`;
        return htm;
      }

      function jsStyleGpuSlice(feature) {
{%- block jsStyleGpuSlicePage %}
        if(feature.geometry.type == 'Point') {
          return {
            radius: 8
            , fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 1
            , opacity: 0.7
            , fillOpacity: 0.7
            , contextmenu: true
            , contextmenuItems: [
              {
                text: 'Show coordinates'
                , callback: function(event) {
                  alert(event2.target.getLatLngs());
                }
              }
            ]
          };
        } else if(feature.geometry.type == 'LineString') {
          return {
            color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 5
            , opacity: 0.7
          };
        } else {
          return {
             fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 3
            , opacity: 0.7
            , fillOpacity: 0.7
          };
        }
{%- endblock jsStyleGpuSlicePage %}
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {

        var sliceName = {% if result.sliceName is defined %}{{ result.sliceName | tojson }}{% else %}null{% endif %};

        if(sliceName == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if sliceName is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listGpuSlice')?.value;
        if(l)
          window.listGpuSlice = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphGpuSlice();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qGpuSlice_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('GpuSlice', event.target, document.querySelector('#qGpuSliceDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qGpuSlice_rows')?.addEventListener('change', event => {
          paramChange('GpuSlice', event.target, document.querySelector('#qGpuSliceDiv_rows'));
        });

        document.querySelector('#qGpuSlice_start')?.addEventListener('change', event => {
          paramChange('GpuSlice', event.target, document.querySelector('#qGpuSliceDiv_start'));
        });


        var submitForm_patchGpuSlice = document.querySelector('#htmForm_patchGpuSlice')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchGpuSlice')?.addEventListener('click', event => {
          event.preventDefault();
          patchGpuSlice(null, document.querySelector('#htmForm_patchGpuSlice'), document.querySelector('#htmFormButton_patchGpuSlice'), event.target.getAttribute('data-sliceName'));
          return false;
        });

        var submitForm_postGpuSlice = document.querySelector('#htmForm_postGpuSlice')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postGpuSlice')?.addEventListener('click', event => {
          event.preventDefault();
          postGpuSlice(document.querySelector('#htmForm_postGpuSlice'), document.querySelector('#htmFormButton_postGpuSlice'), (response, target) => { response.json().then((json) => { window.location.href = json.editPage; }); });
          return false;
        });

        var submitForm_deleteGpuSlice = document.querySelector('#htmForm_deleteGpuSlice')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteGpuSlice')?.addEventListener('click', event => {
          event.preventDefault();
          deleteGpuSlice(event.target, event.target.getAttribute('data-sliceName'));
          return false;
        });

        var submitForm_putimportGpuSlice = document.querySelector('#htmForm_putimportGpuSlice')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportGpuSlice')?.addEventListener('click', event => {
          event.preventDefault();
          putimportGpuSlice(document.querySelector('#htmForm_putimportGpuSlice'), document.querySelector('#htmFormButton_putimportGpuSlice'));
          return false;
        });

        var submitForm_searchpageGpuSlice = document.querySelector('#htmForm_searchpageGpuSlice')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageGpuSlice')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageGpuSlice();
          return false;
        });

        var submitForm_deletefilterGpuSlice = document.querySelector('#htmForm_deletefilterGpuSlice')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterGpuSlice')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterGpuSlice(event.target);
          return false;
        });
      });
    </script>
{%- endblock htmScriptGpuSlicePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketGpuSlicePage %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketGpuSlice(websocketGpuSliceInner);
{%- endblock websocketGpuSlicePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlGpuSlicePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlGpuSlicePage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartGpuSlicePage %}
{% if resultCount > 0 %}
          <div class="wa-flank ">
            <wa-tooltip for="return-to-GpuSlice">back to all GPU slices</wa-tooltip>
            <wa-button id="return-to-GpuSlice" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-angle-left"></i>
              all GPU slices
            </wa-button>
            <h1 class="Page_title"><i class="fa-regular fa-cake-slice"></i> {{ result.title | e }}</h1>
          </div>
          <div class="margin-block">
          </div>
{% include en-us/search/gpu-slice/GpuSliceSearchButtons.htm %}
{% include en-us/search/gpu-slice/GpuSliceSearchForm.htm %}
{% endif %}
{%- endblock htmBodyStartGpuSlicePage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleGpuSlicePage %}
        <div class="main-content">
{% if resultCount == 0 %}
        {% if varsFqCount > 0 %}
        <wa-tooltip for="return-to-GpuSlice">back to all GPU slices</wa-tooltip>
          <wa-button id="return-to-GpuSlice" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
            <i class="{{ FONTAWESOME_STYLE }} fa-angle-left"></i>
            all GPU slices
          </wa-button>
        </wa-tooltip>
        {% endif %}
        <h1><i class="fa-regular fa-cake-slice"></i> <span>GPU slices</span></h1>
{% include en-us/search/gpu-slice/GpuSliceSearchButtons.htm %}
{% include en-us/search/gpu-slice/GpuSliceSearchForm.htm %}
        <h2>
          <span>
  {% if classIconCssClasses is defined %}
            <i class="{{ classIconCssClasses }}  site-menu-icon "></i>
  {% endif %}
            <span class="">no GPU slice found</span>
          </span>
        </h2>
{% else %}
{%- include en-us/search/gpu-slice/GpuSliceSidebar.htm %}
{%- include en-us/search/gpu-slice/GpuSliceSuggestedSearch.htm %}
{% endif %}
{%- block htmFormGpuSlicePage %}
          <form action="/en-us/api/gpu-slice" id="GpuSliceForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
{% if sliceName is defined %}
            <input name="sliceName" class="valueSliceName" type="hidden" value="{{sliceName}}"/>
            {% endif %}
            <input name="focusId" type="hidden"/>
            <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
            <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result) }}' type="hidden"/>
            <input name="listGpuSlice" id="listGpuSlice" class="listGpuSlice"  value='{{ toJsonArrayStringInApostrophes(listGpuSlice) }}' type="hidden"/>
          </form>
  {% if solrId is defined %}
          {{ htmButton_searchpageGpuSlice() }}
          {{ htmForm_searchpageGpuSlice() }}
  {% endif %}
{%- endblock htmFormGpuSlicePage %}
        </div>
{%- endblock htmBodyMiddleGpuSlicePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
      {{ super() }}
{%- block htmBodyEndGpuSlicePage %}
{%- endblock htmBodyEndGpuSlicePage %}
{%- endblock htmBodyEndPageLayout %}
