
          <div id="htmPaginationButtons">
            <wa-button-group>
              <wa-tooltip placement="top" content="Show the previous results">
                <wa-button variant="brand" pill{% if pagination.pagePrevious is defined %} href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}"{% else %} disabled{% endif %}>
                  <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-arrow-square-left "></i>
                </wa-button>
              </wa-tooltip>
              <wa-tooltip placement="top" content="Show half the results">
                <wa-button variant="brand"{% if pagination.rowsPrevious >= pagination['1L'] %} href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}"{% else %} disabled{% endif %}>
                  <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-minus-square "></i>
                </wa-button>
              </wa-tooltip>
              <wa-tooltip placement="top" content="Show double the results">
                <wa-button variant="brand" href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
                  <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-plus-square "></i>
                </wa-button>
              </wa-tooltip>
              <wa-tooltip placement="top" content="Show the next results">
                <wa-button variant="brand" pill{% if pagination.pageNext is defined %} href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}"{% else %} disabled{% endif %}>
                  <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-arrow-square-right "></i>
                </wa-button>
              </wa-tooltip>
            </wa-button-group>
            <div>{{ pagination.startNum }} – {{ pagination.endNum }} of {{ pagination.foundNum }} site users</div>
          </div>
